.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}

.heading {
  padding-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--gray-300);
  font-size: clamp(1.6rem, 3vw, 3rem);
}

.content-one {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.content-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content-two {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 257px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.form button {
  width: 225px;
  height: 46px;
  border-style: none;
  border-radius: 25px;
  color: var(--gray-300);
  background-color: var(--blue-600);
  font-size: 0.9rem;
  font-weight: bold;
  transition: all .3s;
}

.form button:hover {
  cursor: pointer;
  color: var(--gray-700);
  background-color: var(--gray-300);
}

.info {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

@media (max-width: 800px) {
  .content-one {
    text-align: center;
    gap: 2rem;
    flex-direction: column;
  }

  .info {
    width: 95%;
  }
}