nav {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90px;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: var(--gray-300);
  font-size: 1.1rem;
  font-weight: 600;
  transition: all .3s;
}

.navbar-links-container a:hover {
  color: var(--white);
}

.navbar-menu-container {
  display: none;
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }

  .home-bannerImage-container {
    max-width: 600px;
  }
}
@media (max-width: 800px) {
  nav {
    justify-content: flex-end;
  }

  .navbar-links-container {
    display: none;
  }

  .navbar-menu-container {
    display: flex;
    align-items: center;
  }

}
