.container {
    display: flex;
    padding: 1rem 0;
    min-height: 100vh;
    width: 85vw;
    max-width: 1900px;
    margin: 0rem auto;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

.image-section {
    max-width: 600px;
    padding-right: 2.5rem;
}

.heading {
    font-size: clamp(2rem, 3.5vw, 2.5rem);
    color: var(--gray-300);
    max-width: 600px;
}

.text {
    font-size: clamp(1rem, 2.5vw, 1rem);
    max-width: 500px;
    color: var(--gray-300);
    margin: 1.5rem 0rem;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }

    .banner-container {
        flex-direction: column;
        min-height: 80vh;
        text-align: center;
    }

    .image-section {
        padding: 5rem 0;
        width: 100%;
    }
}
