.service-container {
    /* min-height: 100vh; */
    width: 85vw;
    max-width: 1900px;
    margin: 0rem auto;
}

.heading {
    padding: 4rem 0 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--blue-300);
    font-size: clamp(1.5rem, 3vw, 3rem);
}
