:root {
  --white: #FFF;
  --black: #000;
  
  --blue-400: #3680FF;
  --blue-600: #1D2366;
  
  --gray-100: #F2F2F2;
  --gray-300: #D9D9D9;
  --gray-700: #535461;
  --gray-800: #202024;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}